node_modules

# Output
.output
.vercel
/.svelte-kit
/build
.map
.js

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
vite.config.js
*.js.map
index.js